.navbar__container {
  background-color: rgb(83, 83, 168);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    margin-left: 25px;
    color: white;
    font-family: cursive;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

    p {
      font-size: larger;
      color: white;
      margin-right: 20px;
    }

    button {
      padding: 10px;
      background-color: white;
      border: none;
      border-radius: 5px;
      min-width: 100px;
    }
  }
}
